<!--<!DOCTYPE html> 
<html> 

<head> 
	<title>FILE UPLOAD</title> 
</head> 

<body> 
	<h1>SECRET SANTA</h1> 

	<form action="/list"
	enctype="multipart/form-data" method="POST"> 
	
		<span>Upload Excel:</span> 
		<input type="file" name="mypic" required/> <br> <br>
		<input type="submit" value="submit"> 
	</form> 
</body> 

</html> -->
<!DOCTYPE html> 
<html> 

<head> 
	<title>FILE UPLOAD</title> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href='/styles/index.css' />

</head> 

<body >
	<div class="bgimg">
		<div class="topleft">
			<img src="https://www.carlogos.org/logo/Mercedes-Benz-logo-2011-1920x1080.png" alt="LOGO" width="150px" height="100px">
		</div>
		<div class="middle">
		  <hr>
		  <p style="color:rgb(255, 0, 0)">JINGLE THE BELLS</p>
		  <span class="bell fa fa-bell" onclick="location.href = '/begin'";></span>
		</div>
		
		<div class="bottomleft">
		  <p> </p>
		</div>
	  </div>
</body> 

</html>